/* Tampilan layar kecil */
@media (max-width: 767px) { 
    /* CSS untuk tampilan layar kecil */
    body {
        overflow-x: hidden;
    }

    #launch-screen .logo .header .mini-header .card img{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }

    #launch-screen .card img{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }

    #launch-screen .profile-image{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }

    #launch-screen .menu{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }

    #launch-screen .bar{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }

  }
  
  /* Tampilan layar medium */
  @media (min-width: 768px) and (max-width: 991px) { 
    /* CSS untuk tampilan layar medium */
 
    #launch-screen .logo .header .mini-header .card img{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }

    #launch-screen .card img{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }

    #launch-screen .profile-image{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }
    #launch-screen .menu{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }
    #launch-screen .bar{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }
  }
  
  /* Tampilan layar besar */
  @media (min-width: 992px) { 

    /* CSS untuk tampilan layar besar */
    #launch-screen .logo .header .mini-header .card img{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }

    #launch-screen .card img{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }

    #launch-screen .profile-image{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }
    #launch-screen .menu{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }
    #launch-screen .bar{
        width: 200px;
        margin-top: 140px;
        /* margin-left: 20px; */
        border-radius: 50%;
    }
  }

body{
    /* background-color: #2A3785; */
    height: 100vh;
    width: 100%;
    max-width: 400px;
    overflow-x: hidden;
    margin: 0;
    background-color: white;
    /* vertical-align: middle; */

}

html{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}


.header {
    position: absolute;
    margin-left: -15px;
}

.mini-header {
    height: 100px;
    width: 400px;
    background-image: linear-gradient( #2A3785, #0F1644);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: -15px;
    position: absolute;
    font-family: QuickSand;
    font-weight: bold;
    color: white;
}

.header .logo{
    margin-left: 80px;
    margin-top: -200px;
}

.header .logo img{
    position: absolute;
    left: 20px;
    top: 95px;
}

.back-header {
    height: 103px;
    width: 400px;
    background-color: aqua;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    margin-left: -15px;
}

.back-button {
    margin-left: 25px;
    margin-top: 50px;
    position: absolute;
    
}

#launch-screen{
  background-color: #2A3785;
  height: 100%;
  width: 100%;
}

.title {
    margin: 95px;
    font-weight: 700;
    position: absolute;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: gray;
}

.input-field {
  font-family: Quicksand;
  width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.input-icons i {
    position: absolute;
}
          
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
    
.icon {
    padding: 20px;
    min-width: 20px;
    /* margin-top: 10px; */
}

.container {
    width: 400px;
    height: 120vh;
    background-color: white;
}

.form {
    max-width: 350px;
    height: 100%;
    margin-top: 103px;
    margin-left: 25px;
    position: absolute;
    font-family: Poppins;
    font-weight: 600;
    width: 325px;
}

label {
    position: absolute;
    background-color: white;
    margin-top: -10px;
    margin-left: 30px;
    
}

.input-wrapper{
    margin-top: 30px;
    font-weight: 400;
}

.button{
    width: 320px;
    margin-top: 15vh;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2a3785;
    text-align: center;
    color: white;
    border-radius: 6px;
    font-family: Poppins;
    font-weight: medium;
  
    position: fixed;
    bottom: 30px;
  }

.alert {
    position: absolute;
    height: 3rem;
    width: 25rem;
    background-color: #a01212;
  }

.alert img{
    width: 20px;
    height: 20px;
    margin-bottom: 1.1rem;
}

.alert p {
    font-size: 12px;
    margin-top: -2.3rem;
    color: var(--white);
    margin-left: 2rem;
}

#error {
    display: none;
  }
  
#block {
    display: none;
  }

#kurang-saldo{
    display: none;
}

.card{
    position: absolute;
    margin-left: -10px;
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0px 9px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 10px 10px;
    
}

.card-text{
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.verification-password{
    position: fixed;
    width: 400px;
    height: 500px;
    bottom: 0px;
    margin-left: -40px;

    background: #FFFFFF;
}

.shadow-popup .verification-password {
    min-width: 400px;
    max-width: 400px;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: none;
}

.profile-image{
    position: absolute;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 4.04805px 10.1201px rgba(0, 0, 0, 0.2));
    border-radius: 18.2162px;
    margin-left: 200px;
    margin-top: -45px;
}

.ellipse-online{
    box-sizing: border-box;

    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 240px;
    margin-top: -5px;

    background: #20C968;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
}

.col-md-3 {
    color: #000000;
    margin-top: 280px;
}

.rectangle-2 {
    position: fixed;
    width: 55px;
    height: 55px;
    margin-left: 4rem;
    margin-top: -2rem;
  
    background: #214083;
    opacity: 0.2;
    border-radius: 15px;
  }

.menu-icon img {
    position: absolute;
    width: 35px;
    height: 35px;
   margin-top: 250px;
  }

.title-menu{
    color: #000000;
    position: absolute;
    font-size: 12px;
    font-weight: 600;
}

.arrow img{
    position: absolute;
    width: 25px;
}

.border-1 {
    position: absolute;
    width: 103px;
    height: 0px;
    margin-top: 3.2rem;
    margin-left: 6.6rem;
    border: 0.1px solid #c0c0c0;
    transform: rotate(90deg);
  }

  .border-2{
    position: absolute;
    width: 315px;
    height: 0px;
    margin-top: 6.4rem;
    margin-left: 0rem;
    border: 0.1px solid #c0c0c0;
  }

.bar{
    position: fixed;
  width: 400px;
  height: 69px;
  margin-top: 6rem;
  margin-left: -2.6rem;

  background: #ffffff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
  bottom: 0px;
  position: fixed;
}

.tombol-scan{
    position: absolute;
    width: 58px;
    height: 54px;
    margin-left: 11rem;
    margin-top: -1.5rem;
    background: #011a51;
    border-radius: 20px;
  }

 #transfer:hover{
    opacity: 0.25;
 }
 
 #budgeting:hover{
    opacity: 0.25;
 }

 #location:hover{
  opacity: 0.25;
}

 .chat-image {
    position: absolute;
    width: 35px;
    height: 35px;
    margin-top: 12.5rem;
    margin-left: -0.5rem;
    border-radius: 100%;
  }

  .bubble-chat {
    position: absolute;
    width: 330px;
    height: 74px;
    margin-left: 2.1rem;
    margin-top: 7rem;
  
    background: #C0C0C0;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
  }

  .text-chat {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 16px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    color: #000000;
  }

  .time {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
  
    margin-left: 3rem;
    margin-top: 15.8rem;
  }
  
  .kolom-chat {
    position: absolute;
    width: 268px;
    height: 32px;
    margin-left: 3rem;
    margin-top: -1.9rem;
  }
  
  .text{
    position: absolute;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }

  .text-detail{
    position: absolute;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    font-size: 12px;
  }

  .send{
    width: 100px; 
    height: 35px; 
    background-color: #d3d3d3; 
    color: gray; 
    padding-left: 10px; 
    padding-top: 10px; 
    margin-top: 0px; 
    font-size: 12px;
  }

  .total-payment{
    background-color: #b0ccdd;
    position: absolute;
    width: 295px;
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 15px; 
    font-size: 13px;
  }

  .total-payment p{
    position: absolute;
  }

  #shadow-popup {
    min-width: 400px;
    max-width: 400px;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: none;
    margin-left: 0px;
}

#popup-success {
    width: 330px;
    height: 390px;
    margin: 200px 35px 0px 35px;
    background-color: white;
    position: fixed;
    border-radius: 10px;
}

#enter-password {
  width: 400px;
  height: 100vh;
  margin: 200px 35px 0px 35px;
  background-color: white;
  position: fixed;
  border-radius: 10px;
  margin-left: -0px;
  margin-top: 35vh;
}

.button-ok{
    width: 300px;
    height: 50px;
    margin-top: 5vh;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2a3785;
    text-align: center;
    color: white;
    border-radius: 6px;
    font-family: Poppins;
    font-weight: medium;
    margin-left: -5px;
  }

  .chat {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 10.5rem;
    margin-left: 16.5rem;
  
    background: #eff5fe;
    border-radius: 100px;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.3));
  }

 .live-chat-image {
    position: absolute;
    width: 35px;
    height: 35px;
    margin-top: 0.8rem;
    margin-left: 0.9rem;
  }

  .ellipse-bar {
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 100%;
    margin-left: 1rem;
    margin-top: 0rem;
  
    background: #000000;
  }
  

  .enter-password-title{
    width: 400px;
    height: 60px;
    background-color: #2a3785;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 23px;
    padding-left: 120px;
    color: white;
    font-family: "Poppins";
    font-size: 15px;
  }

  #pin{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 5px;
    border: none;
    margin-left: 50px;
    font-size: 20px;
    background-color: gray;
}
